# Chapter 2 - Data Preparation Basics
## Segment 1 - Filtering and selecting data

In [2]:
#impot libraries
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

### Selecting and retrieving data
You can write an index value in two forms.
- Label index or 
- Integer index

In [6]:
Series_obj=Series(np.arange(5), index=["row1","row2","row3","row4","row5"])
Series_obj

row1    0
row2    1
row3    2
row4    3
row5    4
dtype: int64

In [7]:
Series_obj["row3"]

2

In [8]:
Series_obj[[0,4]]

row1    0
row5    4
dtype: int64

In [15]:
np.random.seed(60)
Df_obj=DataFrame(np.random.rand(49).reshape((7,7)),
                 index=["row1","row2","row3","row4","row5","row6","row7"],
                 columns=["column1","column2","column3","column4","column5","column6","column7"])
Df_obj

       column1   column2   column3   column4   column5   column6   column7
row1  0.300873  0.186946  0.323183  0.665750  0.566971  0.398254  0.379415
row2  0.010582  0.170366  0.123393  0.692401  0.874442  0.337397  0.992459
row3  0.131540  0.500330  0.286621  0.220585  0.502086  0.636063  0.635677
row4  0.080433  0.581434  0.839191  0.293018  0.987930  0.547191  0.959386
row5  0.356287  0.517228  0.988013  0.204252  0.976053  0.039929  0.019327
row6  0.194017  0.011586  0.446873  0.651937  0.711316  0.255008  0.763919
row7  0.966580  0.534758  0.430868  0.499896  0.766160  0.324338  0.163673

In [22]:
Df_obj.loc[["row4","row5"],["column3","column2"]]

       column3   column2
row4  0.839191  0.581434
row5  0.988013  0.517228

### Data slicing
You can use slicing to select and return a slice of several values from a data set. Slicing uses index values so you can use the same square brackets when doing data slicing.

How slicing differs, however, is that with slicing you pass in two index values that are separated by a colon. The index value on the left side of the colon should be the first value you want to select. On the right side of the colon, you write the index value for the last value you want to retrieve. When you execute the code, the indexer then simply finds the first record and the last record and returns every record in between them.

### Comparing with scalars
Now we're going to talk about comparison operators and scalar values. Just in case you don't know that a scalar value is, it's basically just a single numerical value. You can use comparison operators like greater than or less than to return true/false values for all records to indicate how each element compares to a scalar value.

### Filtering with scalars

### Setting values with scalars

Filtering and selecting using Pandas is one of the most fundamental things you'll do in data analysis. Make sure you know how to use indexing to select and retrieve records.